__pycache__/
*.py[codz]
*$py.class
*.so
build/
dist/
*.egg
*.egg-info/
.eggs/

.venv
venv/
env/
ENV/
.env
.envrc

.pytest_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/
.cache
.hypothesis/
.ruff_cache/
.mypy_cache/
.dmypy.json
dmypy.json

.run/

config/.env.staging
config/.env.prod
config/.env.local

node_modules/

/frontend/

.idea/

CARLA_*.tar.gz
*:Zone.Identifier

*.aux
*.log
*.bbl
*.bcf
*.blg
*.fls
*.fdb_latexmk
*.out
*.toc
*.run.xml
*.synctex.gz
